@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap");

.navbar {
  z-index: 5 !important;
}
h1 {
  margin: 0;
}
.navbarTop {
  height: 2.2rem;
  background-color: #ff493e !important ;
}
.top {
  background-color: #ff493e !important;
  color: #ff493e;
}
.navbar-nav {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  height: 1.6rem;
  margin: 0 50px;
  color: yellow;
}
.navbar-nav a {
  font-family: Open Sans;
  font-size: 1.2rem;
  color: white !important;
  margin: 0 30px;
}

.active {
  background-color: #ff8383 !important;
  margin: 0;
}
#navbarText {
  float: right;
}
.navbar button {
  margin: 0 1.2rem;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #363636 !important;
  outline: none !important;
  box-shadow: none !important;
}
.btn-success,
.btn-success:hover,
.btn-success:active,
.btn-success:visited {
  background-color: #ff0000 !important;
  outline: none !important;
  box-shadow: none !important;
  border-color: #ff0000;
}
.hero {
  margin-left: 6rem;
  display: flex;
  flex-direction: row;
  text-align: left;
  height: 90vh;
  align-items: center;

  width: 90%;
}

.left {
  margin-bottom: 7rem;
  margin-left: 2rem;
}
.left p {
  margin-top: 1rem;
  font-size: 16px;
  color: #373737;
}
.right {
  margin-left: 10rem;
  margin-bottom: 1rem;
}
.container {
  width: 100%;
}
.left h1 {
  margin-top: 6rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
}
img {
  width: 30rem;
}
.left .d-flex {
  margin-top: 2rem;
}
.left .d-flex button {
  margin: 0 1rem;
}
.loanbtn {
  background-color: rgba(255, 188, 0, 0.5) !important;
  border-color: rgba(255, 188, 0, 0.5);
}
.loanbtn,
.loanbtn:hover,
.loanbtn:active,
.loanbtn:visited {
  background-color: rgba(255, 188, 0, 0.5) !important;
  outline: none !important;
  box-shadow: none !important;
  border-color: rgba(255, 188, 0, 0.5);
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-header h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
}
.about .content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.about img {
  width: 30rem;
}
.about .content .right {
  margin-bottom: 7rem;
  flex-basis: 80%;
  margin-right: 2rem;
}
.about .content h1 {
  margin-bottom: 2rem;
}
.services {
  margin: 0 4rem;
}
.services .content {
  margin: 4rem 0;
  margin-bottom: 6rem;
}
.services .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.services .card {
  width: 16rem !important;
  z-index: -1;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border: none;
}
.services .card img {
  width: 5rem;
  margin-top: 1rem;
}
.services .card p {
  margin: 2rem 0;
}
.card-container .card {
  margin: 5rem 0;
  width: 20rem !important ;
  z-index: -1;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  height: 5rem !important;
  margin-bottom: 2rem !important;
  border: none;
}
.card-container img {
  width: 5rem;
}
.HIW .content {
  margin: 0 3rem !important;
}
.card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.card-container .card{
  height: 20rem !important;
}
.card-container .card img{
  width: 6rem;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.frame {
  width: 5rem;
  height: 5rem;
}

.divstyle {
  width: 100%;
  height: 0.5rem;
}
.head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0 0 -1rem 0;
}
.head hr {
  width: 4rem;
  height: 0.1rem !important ;
  color: #ff0000 !important;
}
.head p {
  margin: 1rem;
  color: #ff0000 !important;
}
.faqs {
  width: 90%;

  margin: 0 auto;
  padding: 15px;
}

.faqs .faq {
  margin: 15px;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.faqs .faq .faq-question {
  position: relative;
  font-size: 20px;
  padding-right: 80px;

  transition: all 0.4s ease;
}

.faqs .faq .faq-question::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;

  background-image: url("./arrow-down.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  transition: all 0.4s ease-out;
}

.faqs .faq .faq-answer {
  opacity: 0;
  max-height: 0;
  overflow-y: hidden;
  transition: all 0.4s ease-out;
  white-space: pre-line;
}

.faqs .faq.open .faq-question {
  margin-bottom: 15px;
}

.faqs .faq.open .faq-question::after {
  transform: translateY(-50%) rotate(180deg);
}

.faqs .faq.open .faq-answer {
  max-height: 1000px;
  opacity: 1;
}
footer {
  background-color: rgba(30, 40, 51, 1);
  color: white;
}
a {
  text-decoration: none;
}
.card-container {
  justify-content: center;
}
.card-body {
  margin-top: 5rem;
}
.card-container .card {
  align-items: center;

  text-align: center;
}

@media screen and (max-width: 768px) {
  body {
    width: 100% !important;
  }

  .hero {
    width: 100vh;
    flex-direction: column;
  }
  .container-fluid {
    width: 100%;
  }
  .hero {
    margin: 0 !important;
    width: 100%;
  }
  .hero .right {
    display: none;
  }
  h1 {
    font-size: 2rem !important;
  }
  .about .content {
    flex-direction: column;
    justify-content: center !important;
  }
  .about .content img {
    height: 17rem;
    width: auto;
  }
  .about .content .left {
    margin-bottom: 1rem !important;
  }
  .about .content h1 {
    margin-bottom: 0.5rem;
  }
  .about .content button {
    margin-top: 0.5rem !important;
  }
  .about .content .right {
    margin: 0 !important;
  }
  .services .content {
    margin-top: 0;
    flex-direction: column;
    justify-content: space-around !important;
    align-items: center;
  }
  .services .content .card {
    margin: 1rem 0;
  }
  .HIW .content {
    margin-top: 0;
    flex-direction: column;
    justify-content: space-around !important;
    align-items: center;
  }
  .HIW .content .card-container {
    flex-direction: column;
  }
  .HIW .content .card-container img {
    transform: rotate(90deg);
  }
}
