.container{

    display: flex;
    flex-direction: column !important ;
    justify-content: center;
}
.agents{
    display: flex !important;
    flex-direction:row !important  ;
    justify-content: center;
    margin-top: 1rem;


    
}
.card h1{
   margin: 0.5rem;
    font-size: 16px !important;
    color: #EB001B ;
}
.card{
    width: 8rem;

    margin: 0 1rem;
    align-items: center;
    justify-content: center;
    border: none !important;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
}
.card img{
    margin-top: 1rem !important;
    width: 6rem;

    margin: 0;
}
.card img{
    width: 3rem;
}
.card-body{
    margin: 0 ;
    align-items: center;
}
.typeLoans{
    margin: 1rem 0 ;
    display: flex !important ;
    flex-direction: row;
    justify-content: center;
    color: yellow;
}
.form-section{
    padding-top: 2rem;
    background-color: white;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
    border-radius: 1rem;

}
.details{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem 1rem;
    justify-content: center;
}
.details h1{
    text-decoration: yellow underline;
}
.details p{
  margin: 0 0.5rem;
}
